<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Login</title>
</head>
<body>
    <a href="{% url 'social:begin' 'github' %}">GITHUB</a>
    {% if is_auth %}
        <p>Вы авторизованы</p>
        {% if user_name %}
            <p>{{ user_name }}</p>
        {% endif %}
        <a href="{% url 'logout' %}">Выйти</a>
    {% else %}
        <p>Вы не авторизованы</p>
    {% endif %}
</body>
</html>